services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: foundry nginx
  foundry:
    container_name: foundry
    hostname: foundry
    image: "{{ foundry_image_uri }}:{{ foundry_image_tag }}"
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./data
        target: /data
    environment:
      {% for key, value in foundry_env_vars.items() -%}
      - {{ key }}={{ value }}
      {% endfor %}

    expose:
      - 30000
  nginx:
    container_name: nginx
    image: ghcr.io/coreruleset/modsecurity-crs:nginx-alpine
    environment:
      - BACKEND=http://foundry:30000
      - DOMAIN_NAME={{ domain_name }}
      - SSL_CERT=/etc/letsencrypt/live/{{ domain_name }}/cert.pem
      - SSL_CERT_KEY=/etc/letsencrypt/live/{{ domain_name }}/privkey.pem
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    links:
      - "foundry"
    ports:
      - 443:8443/tcp
    # FIXME: need root to get certs 
    user: root

